<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<section class="container about">
<h1>${_("About")}</h1>
<p>${_("The IGOT Portal is an online platform that hosts supplemental learning material for the SMART Course and it's sub-topics.")}</p>
<p>${_("The SMART Course stands for Surgical Management and Reconstructive Training and is focused on principles and techniques that are relevent in developing countries. The course content is currated by IGOT leadership and is organized into topic categories.The Portal includes a case consultation and research section allowing for learners to interact with IGOT leadership and SMART Course Faculty.")}</p>
</section>
