<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Donate")}</%block>

<section class="container about">
    <h1>${_("Donate")}</h1> 
    <p>The IGOT Portal is funded and supported by IGOT, Institute for Global Orthopaedics and Traumatology. The IGOT Portal is the online platform for IGOT's Global Surgcial Education Program.</p>
    <p>IGOT is a non profit initiative of the University of California, San Francisco Department of Orthopaedic Surgery. Donations to IGOT support it's programs including the expansion of the IGOT Portal.</p>
    <p>To make a donation to the IGOT portal, please visit <a href='http://makeagift.ucsf.edu/igot '>http://makeagift.ucsf.edu/igot </a>
</section>
